<div class="mat-elevation-z8 order-table">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- OrderNumber Column -->
    <ng-container matColumnDef="orderNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Order Number</th>
      <td mat-cell *matCellDef="let row">{{row.orderNumber}}</td>
    </ng-container>

    <!-- customer Column -->
    <ng-container matColumnDef="customer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Customer</th>
      <td mat-cell *matCellDef="let row">{{row.customer}}</td>
    </ng-container>

    <!-- orderWeight Column -->
    <ng-container matColumnDef="orderWeight">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Weight</th>
      <td mat-cell *matCellDef="let row">{{row.weight}}</td>
    </ng-container>

    <!-- collectionTime Column -->
    <ng-container matColumnDef="collectionTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Collection Time</th>
      <td mat-cell *matCellDef="let row">{{row["collectionTime"]}}</td>
    </ng-container>

    <!-- orderStatus Column -->
    <ng-container matColumnDef="orderStatus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let row">{{row["orderStatus"]}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator

      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div>
