<table mat-table [dataSource]="data" class="full-width-table" aria-label="Elements">
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    (change)="toggleAll()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row" (click)="$event.stopPropagation()">
      <mat-checkbox (change)="onOrderToggled(row)" [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let row">{{row.id}}</td>
  </ng-container>

  <!-- customer Column -->
  <ng-container matColumnDef="customer">
    <th mat-header-cell *matHeaderCellDef>Customer</th>
    <td mat-cell *matCellDef="let row">{{row["customer"]}}</td>
  </ng-container>

  <!-- orderWeight Column -->
  <ng-container matColumnDef="orderWeight">
    <th mat-header-cell *matHeaderCellDef>Weight</th>
    <td mat-cell *matCellDef="let row">{{row["orderWeight"]}}</td>
  </ng-container>

  <!-- collectionTime Column -->
  <ng-container matColumnDef="collectionTime">
    <th mat-header-cell *matHeaderCellDef>Collection Time</th>
    <td mat-cell *matCellDef="let row">{{row["collectionTime"]}}</td>
  </ng-container>

  <!-- orderStatus Column -->
  <ng-container matColumnDef="orderStatus">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let row">{{row["orderStatus"]}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<br>


<!-- Add order -->
<div class="container">

<form class="form" style="outline-style: dashed; outline-width: thin" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

  <mat-label>New Order Form</mat-label>
  <p>
    <mat-form-field appearance="fill" floatLabel="always">
      <mat-label>Customer</mat-label>
      <input matInput formControlName="customer">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </p>

  <p>
  <mat-form-field appearance="fill" floatLabel="always">
    <mat-label>Weight</mat-label>
    <input matInput type="number" class="example-right-align" placeholder="0" formControlName="orderWeight">
    <span matTextPrefix>KG.&nbsp;</span>
    <span matTextSuffix></span>
  </mat-form-field>
  </p>

  <div class="field">
    <label class="label">Collection Time</label>
    <input type="datetime-local" class="input" formControlName="collectionTime"/>
  </div>


  <br>
  <div>
    <button type="submit" mat-raised-button class="button">Submit Order</button>
  </div>
  <br>
  <div>
    <button type="button" mat-raised-button (click)="deleteOrders()">Delete Selected Order(s)</button>
  </div>
  <br>
</form>


</div>




